---
layout: default
---

<header class="full-page">
	<h1 class="site-title">Tian<span style="font-weight: 400">.SQL</span></h1>
	<nav>
		<menu>
			<li><a href="#projects">projects</a></li>
			<li><a href="/posts">posts</a></li>
			<li><a href="#about">about me</a></li>
			<li><a href="/setup">my setup</a></li>
			<li><a href="/support-me">&#10084;&#65039;</a></li>
		</menu>
	</nav>
</header>
<main class="list">
	{{ content }}
</main>

<footer>
	<img height="18" src="https://s7uck.github.io/images/wordmark.svg" alt="Design By StuckDuck">
</footer>